@import 'curtain';
// @import 'floatingText';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 200vh;

}

header{
    width: 100%;
}

/* 
    GENERAL VALUES
*/

.text-style{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* 
    -- Nav ---
*/

nav{
    height: 10vh;
    background-color: rgba(82, 82, 82, 0);
    box-shadow: 0px 0px 10px 1px rgba(34, 34, 34, 0);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.logo{
    padding: 2vh;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.listWrapper{
    width: 90%;
    display: flex;
    justify-content: space-between;
}


.navList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.nav-items{
    height: 6vh;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    align-items: center;
    display: flex;
    border: 1px solid black;
    box-shadow: 5px 1px 10px 0.2px rgba(26, 26, 26, 0.563);
    // cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    //button background

    // background: black;
    background-image: linear-gradient(rgba(86, 86, 87, 0.234) 100%, rgba(0,0,0,1) 100%);   
    background-position: auto 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .9s ease-in-out;

    a {
        font-size: 1.2vw;
        // margin: auto;
        text-decoration: none;
        color: rgb(90, 90, 90);
        font-weight: bold;
        transition: color .5s;
        padding: 20px 10px 20px 10px;
        display: flex;
        align-items: center;
    }
}

.nav-items:hover{
    animation-name: navItemsHovering;
    animation-duration: .2s;
    animation-timing-function: ease;

}


.contact:hover, .nav-items:hover, .nav-items a:hover{
    font-weight: bold;
    background-size: 100% 100%;
    color: rgb(200, 200, 200);



}


.contact{
    border: 2px solid rgb(44, 96, 145);
    background-color: rgb(26, 26, 26);
    a{
        color: rgb(200, 200, 200);

    }
}



/* 
    -- Main ---
*/

.container{
    width: 80%;
    height: 100vh;

    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;

}
main{
    width: 100%;
    position: relative;
    overflow: hidden;
}


/* 
   Central Image
*/

.central-image-wrapper{
    grid-row: 1/1;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;

}
.central-image{
    transform: scale(0.65);
}


/* 
    CLIPBOARD IN MAIN COTAINER
*/



p{
    font-weight: 200;
    text-align: center;
}

.info-container{
    grid-row: 1/1;
    grid-column: 2/4;
    height: 18vh;
    width: 100%;
    top: 60%;
    left: 0%;
    position: relative;
    display: flex;
    // background-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 235, 205, 0.300);
    box-shadow: 5px 5px 10px 0px rgb(9, 9, 9);
    border-radius: 5px;
}

.info{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5vw;

}


.extra-info{
    margin-bottom: 10px;
    color: rgb(90, 90, 90);
}

/* 
    --Portal Title ---
*/


.title-slider{

    position: relative;
    height: 15vh;
    max-width: 400px;
    grid-column: 1/3;
    grid-row: 1/1;
    top: -30%;
    color: rgb(200, 200, 200);
    // background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}   




.slider-row-up, .slider-row-down{
    position: absolute;
    display: flex;
    // background-color: blanchedalmond;
    max-width: 200px;
    overflow: hidden;
    max-height: 15vh;

}

.slider-row-up{
   right: 50%;
}
.slider-row-down{
    left: 50%;
    transform: translateY(100%);

}
.text1, .text3{
    margin-right: 100px;
}
.text1, .text2{

    animation: titleRightHiding 2s ease-in-out infinite;
}
.text3, .text4{
    animation: titleLeftHiding 2s ease-in-out infinite;
}

.inside-title{
    font-size: 2rem;
}
.stick-effect{
    height: 15vh;
    background-color: rgb(200, 200, 200);
    width: 1px;

    position: absolute;
    top: 0%;
    animation: portal-effect 10s ease-in-out infinite;
    border-radius: 2px;
    transform: scaleY(0);
    opacity: 0;
    overflow: auto;
}


/* 
    SECOND SECTION

*/

#arrow{
    grid-row: 1/1;
    grid-column: 1/3;
    top: 40%;
    height: 100px;
    width: 100px;
    display: flex;
    position: relative;
    transform: scale(0,0);
    transform: rotate(90deg);
    cursor: pointer;
}

#unnamed{
    height: 200px;
    width: 200px;
    left: 80%;
    bottom: 90%;
    position: absolute;
    opacity: 0.2;
    transform: rotate(70deg) scale(2.5);
}

// second section 

.second-section{
    background-color: blanchedalmond;
    height: 100vh;
}

// second section blocs

.bloc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bloc{
    background-color:rgb(82, 82, 82);
    height: 40vh;
    width: 300px;
    margin: 10px;
    border-radius: 4px;
}

.bloc:hover{
    animation: softRotationBloc 1s ease-out;
    transition: animation 1s ease-out;
}

@keyframes softRotationBloc {
    0%{
        transform: rotate(0deg);
    }80%{
        transform: rotate(2deg);
        
    }90%{
        transform: rotate(-2deg);
        
    }100%{
        transform: rotate(0deg);
    }

}

@keyframes navHide {
    from{
        
        background-color: rgb(26, 26, 26);
        
    }to{
        background-color: rgba(82, 82, 82, 0.604);
    }
}


/* 
    -- Portal tittle effects left and right hide  ---
*/


//from -100 to 0 top one
@keyframes titleRightHiding {
    0% {
        opacity: 0;
        transform: translateX(-250%);
    }
    30%{
        opacity: 1;
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-100%);
        opacity: 1;
    }
    50%{
        transform: translateX(-100%);
    }
    70%{
        transform: translateX(100%);
    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 1;
        transform: translateX(100%);
    }100%{
        opacity: 0;
        transform: translateX(300%);
   }
}

// from 0  to -100 bottom one
@keyframes titleLeftHiding {
    0% {
        opacity: 0;
        transform: translateX(250%);
    }

    30%{
        opacity: 1;
        transform: translateX(0%);
    }
    40%{
        transform: translateX(0%);
        opacity: 1;
    }
    50%{
        transform: translateX(0%);
    }
    70%{
        transform: translateX(-150%);
    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 1;
        transform: translateX(-150%);

    }100%{
        opacity: 0;
        transform: translateX(-250%);
   }
}

/* 
    -- Portal title stick ---
*/

@keyframes portal-effect {
    12%{
        opacity: 1;
        transform: scaleY(0);
        transform: scaleX(1.0);
    }
    14%{
        transform: scaleY(1.0);
        transform: scaleX(.8);
    }
    47%{ 
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0.8);
    } 
    56%{
        transform: scaleY(1.0);
    }
    60%{
        transform: scaleY(0.8);
    } 
    78%{
        transform: scaleX(1.0);
    }
    85%{
        transform: scaleY(1.0);
        transform: scaleX(1);
        opacity: 1;
    }
    99%{
        transform: scaleX(1.0);
        transform: scaleY(0);
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media screen and (max-width: 769px) {
    .container{
        position: relative;
        display: flex;
        // background-color: rgba(245, 245, 245, 0.304);
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: auto;
    }
    .title-slider{
        // background-color: rgba(245, 245, 245, 0.304);
        position: absolute;
        top: 50%;
    }
    .central-image{
        opacity: 0;
    }
    #arrow{
        opacity: 0;
    }

    .info-container{
        opacity: 0;
    }
    .container{
        width: 90%;
    }
    .title-slider{
        width: 80%;
        transform: scale(1.2);
        align-items: center;
    }

    // Second section
    
    .bloc-container{
        align-items: center;
        flex-direction: column;
        height: 80%;
    }

    .bloc-container .bloc{
        width: 50vw;

    }
    .second-section{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// @media screen and (max-width:1200px) {
//     .title-slider{
//         min-width: 60%;
//         max-width: 65%;
//     }
// }
// @media screen and (max-width:1025px) {
//     .title-slider{
//         min-width: 50%;
//         max-width: 90%;
//     }
//     .text1, .text3{
//         margin-right: 120px;
//     }
// }
