@import 'curtain';
// @import 'floatingText';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 200vh;

}

header{
    width: 100%;
}

nav{
    height: 10vh;
    background-color: rgba(82, 82, 82, 0);
    box-shadow: 0px 0px 10px 1px rgba(34, 34, 34, 0);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.listWrapper{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 2vh;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.navList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.nav-items{
    height: 6vh;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    align-items: center;
    display: flex;
    border: 1px solid black;
    box-shadow: 5px 1px 10px 0.2px rgba(26, 26, 26, 0.563);
    // cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    //button background

    // background: black;
    background-image: linear-gradient(rgba(86, 86, 87, 0.234) 100%, rgba(0,0,0,1) 100%);   
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .9s ease-in-out;

    a {
        font-size: 1.2vw;
        // margin: auto;
        text-decoration: none;
        color: rgb(90, 90, 90);
        font-weight: bold;
        transition: color .5s;
        padding: 20px 20px 20px 20px;
        display: flex;
        align-items: center;
    }
}

.contact:hover, .nav-items:hover, .nav-items a:hover{
    font-weight: bold;
    // animation: navItemsHovering;
    // animation-duration: 2s;
    // animation-timing-function: linear;
    
    //button background
    background-size: 100% 100%;
    color: rgb(200, 200, 200);



}

.nav-items a:hover{

}


.contact{
    border: 2px solid rgb(44, 96, 145);
    background-color: rgb(26, 26, 26);
    a{
        color: rgb(200, 200, 200);

    }
}

.container{
    width: 80%;
    height: 100vh;

    display: grid;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    // background-color: white;
    justify-content: center;

}
main{
    width: 100%;
    position: relative;
    overflow: hidden;
}

#eland{
    grid-template: 2/3;
    height: 500px;
    width: 500px;
    top: 15%;
    right: 25%;
    display: flex;
    position: absolute;
    align-items: center;
}

.info-container{
    grid-row: 1/1;
    grid-column: 2/4;
    height: 18vh;
    width: 100%;
    top: 60%;
    left: 0%;
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px 0px rgb(9, 9, 9);
    border-radius: 5px;
}

.info{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5vw;

}

.text-style{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.title-slider{

    width: 37%;
    position: relative;
    height: 16vh;
    
    grid-column: 1/3;
    grid-row: 1/1;
    top: 10%;
    color: rgb(200, 200, 200);
    // background-color: rgba(0, 0, 0, 0.3);
}   


.title-slider div{
    display: flex;
    justify-content: space-between;
    // margin-right: 40px;

}

.slider-row-up, .slider-row-down{
    display: inline-block;
    // background-color: blanchedalmond;
    overflow: hidden;
}


.slider-row-up{
    
}
.slider-row-down{
    // transform: translateX(-10%);
    transform: translateX(100%);

}
.text1, .text3{
    padding-right: 40px;
}
.text1, .text2{
    transform: translateX(100%);
    animation: titleRightHiding 10s ease-in-out infinite;
}
.text3, .text4{
    animation: titleLeftHiding 10s ease-in-out infinite;
}

.inside-title{
    font-size: 5vh;
}
.stick-effect{
    height: 20vh;
    background-color: rgb(200, 200, 200);
    width: 1px;
    right: 0;
    position: absolute;
    animation: portal-effect 10s ease-in-out infinite;
    border-radius: 2px;
    transform: scaleY(0);
    opacity: 0;

}

.extra-info{
    margin-bottom: 10px;
    color: rgb(90, 90, 90);
}

p{
    font-weight: 200;
    text-align: center;
}
#arrow{
    grid-row: 1/1;
    grid-column: 1/3;
    top: 40%;
    height: 100px;
    width: 100px;
    display: flex;
    position: relative;
    transform: scale(0,0);
    transform: rotate(90deg);
    cursor: pointer;
}

#unnamed{
    // grid-row: 1/1;
    // grid-column: 3/3;
    height: 200px;
    width: 200px;
    left: 80%;
    bottom: 90%;
    position: absolute;
    opacity: 0.2;
    transform: rotate(70deg) scale(2.5);
}

// second section

.second-section{
    background-color: blanchedalmond;
    height: 100vh;
}

.bloc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bloc{
    background-color:rgb(82, 82, 82);
    height: 40vh;
    width: 300px;
    margin: 10px;
}

.nav-items:hover{
    animation-name: navItemsHovering;
    animation-duration: .2s;
    animation-timing-function: ease;

}



// @keyframes navItemsHovering {
//     from{
//         // background: rgb(121,121,121);
//         transform: scaleX(0.95);
//     }to{
//         // background: rgb(121,121,121);
//         transform: scaleX(1);
//     }
// }

@keyframes navHide {
    from{
        
        background-color: rgb(26, 26, 26);
        
    }to{
        background-color: rgba(82, 82, 82, 0.604);
    }
}
// from 0  to -100
@keyframes titleLeftHiding {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    30%{
        opacity: 1;
        transform: translateX(0%);
    }
    40%{
        transform: translateX(0%);
        opacity: 1;
    }
    50%{
        transform: translateX(0%);
    }
    70%{
        transform: translateX(-110%);
    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 1;
        transform: translateX(-110%);

    }100%{
        opacity: 0;
        transform: translateX(-200%);
   }
}
//from -100 to 0
@keyframes titleRightHiding {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }
    30%{
        opacity: 1;
        transform: translateX(-80%);
    }
    40%{
        transform: translateX(-80%);
        opacity: 1;
    }
    50%{
        transform: translateX(-80%);
    }
    70%{
        transform: translateX(40%);
    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 1;
        transform: translateX(40%);
    }100%{
        opacity: 0;
        transform: translateX(100%);
   }
}

@keyframes portal-effect {
    12%{
        opacity: 1;
        transform: scaleY(0);
        transform: scaleX(1.0);
    }
    14%{
        transform: scaleY(1.0);
        transform: scaleX(.8);
    }
    47%{ 
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0.8);
    } 
    56%{
        transform: scaleY(1.0);
    }
    60%{
        transform: scaleY(0.8);
    } 
    78%{
        transform: scaleX(1.0);
    }
    85%{
        transform: scaleY(1.0);
        transform: scaleX(1);
        opacity: 1;
    }
    99%{
        transform: scaleX(1.0);
        transform: scaleY(0);
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}