/* Gray
Design standard gray colrs
50 #FAFAFA
100 #F5F5F5
200 #EEEEEE
300 #E0E0E0
400 #BDBDBD
500 #9E9E9E
600 #757575
700 #616161
800 #424242
900 #212121

COLORS I USED IN FIGMA PROJECT 001
background color #1B1A1A

*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ff-primary-clr: rgb(200, 200, 200);
    /* 
    --ff-primary-accent:
    --clr-primary-200:;
    --clr-primary-400:;
    --clr-primary-900:;
    --clr-primary-100:; */

    --clr-bg: #1B1A1A;
    --ff-primary-clr: #C9C9C9;
    --card-clr: #0D0D0D;
    --ff-seconday-clr: #A9A9A9;
    --ff-family: 'Open Sans', sans-serif;
}

body{
    background-color: var(--clr-bg);
    overflow-x: hidden;
    height: 300vh;
}

/* NAV BAR */

header nav{
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    overflow: hidden;
    /* background-color: red; */
    position: fixed;
    z-index: 999;
}



.logo h1{
    text-decoration: none;
    color: white;
    font-family: var(--ff-family);
    text-transform: uppercase;
}
/* MENU BUTTON */

.menu{

    /* transform: translateX(0%); */
    transition: 
    transform .8s ease-in-out;

    border: var(--ff-primary-clr) 4px solid;
    border-radius: 50px;
    align-items: center;
}


.menu a{
    padding: 20px;
    font-family: var(--ff-family);
    font-size: 1.3em;
    text-decoration: none;
    color: var(--ff-primary-clr);
}

.fixed-menu-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.fixed-menu-bg{
    height: 10vh;
    background-color: black;
}

.nav-list{
    font-family: var(--ff-family);

    background-color: black; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

    top: 0;
    width: 50%;
}



/* MOBILE NAV MENU OPEN */

.nav-open{
    display: flex;
    position: fixed;
    height: 100vh;
    z-index: 999;
    right: 0%;
    /* solves the problem of overflowing */

    transition: right 1s ease-in-out;
    
}

/* CLOSING BUTTON */

.hide-menu{
    /* display: none; */
}


.menu-x{
    padding: 5px 10px;
    font-size: 0.9em !important;
    font-weight: bold !important;
    text-decoration: none;
}

.close-btn{
    position: absolute;
    top: 10%;
    display: inline-block;
}
/* ---------------- */

.nav-close{
    right: -50%;
    transition: right .9s ease-in-out;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2em 0;
    width: 20%;
}
.nav-item a{
    list-style: none;
    color: var(--ff-primary-clr);
    
    font-size: 20px;
    font-weight: 400;
    
}


.underline a{
    text-decoration: none;
    position: relative;
}

.underline a::after{
    content: '';
    position: absolute;
    background: white;


    /* adjusting the underline */
    left: 0%;
    top: 100%;
    height: 1px;
    width: 0%;
}

.underline a:hover::after{
    width: 100%;
    /* animation */
    transition: width .5s ease-in;
}



/* BACKGROUND IMAGES HOME */

.bg{
    position: absolute;
    height: 48vh;
    width: 100%;

}

.bg-props{
    background-size: 200% 80%;
    background-position: center;
    background-repeat: no-repeat;
}
#home-shape-1{
    background-image: url(../upper-home-bg.png);
    top: -20%;

    z-index: -3;
}

.bg-fonts-prop{
    position: relative;
}

#home-shape-2{
    background-image: url(../bottom-home-bg.png);
    bottom: -40%;
    overflow-y: hidden;

    z-index: -2;
}

#bg-fonts{
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../letter-bg.png);

    height: 100vh;
    top: 15%;
    background-size: 90%;
    opacity: 10%;
    z-index: -3;
}

/* SECTION II BGS */
.upper-img{
    width: 100%;
    height: 40vh;
    background-image: url(../programmingdesk.jpeg);
    background-size: 100% !important;
    z-index: -4;

    position: absolute;
    top: 20%;
}


/* MAIN TEXT HOME - SECTION HOME */

section{
    display: grid;
    align-items: center;
    height: 80vh;
    grid-template-rows: 1fr 4fr;

    position: relative;
}

/* CARDS */

.card-prop {
    padding: 40px;
    font-family: var(--ff-family);
    

    background-color: var(--card-clr) !important;
    color: var(--ff-seconday-clr);
    opacity: 90%;

    box-shadow:
    0 2px 8px 0 rgba(0, 0, 0, 0.9),
    0 1px 2px .1px rgba(0, 0, 0, 1)
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.home-card-position{
    /* z-index: 999; */
    bottom: 0;
    position: absolute;

    height: minmax(vh, 40vh);
    width: 100%;
    margin: 0 auto;
    background-color: rgba(197, 150, 150, 0.152);
    
    /* line-height: 30px; */
    
}

.top-card-container{
    align-items: center;
    display: flex;

    /* background-color: red; */
}

.card-main-text{
    font-size: 1.24rem;
    font-weight: 300;
    padding-bottom: 20px;
}

.bottom-card-container{
    display: flex;
    justify-content: space-between;
}

/* SECTION II BACKGROUND IMAGE */

.bg-about{
    
    background-image: url(../about-shaped-bg.png);
    /* background-color: blue; */
    height: 100%;
    position: absolute;
    /* background-color: blue; */
    transform: translateY(20%);
}

/* CARDS SECTION II */

.cards-about{
    grid-row: 2/2;
    height: minmax(45vh, 40vh);
    margin: auto 20px;

    border-radius: 20px;
}

.cards-about p{
    font-size: .9em;
}

